{% from 'utils.html' import field %}

{% extends 'base.html' %}

{% block content %}
    <h1>Sign up</h1>
    <form method="post">
        {{ form.hidden_tag() }}

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <strong>Not signed up.</strong> Please fix any errors below and try again.
            </div>
        {% endif %}

        {{ field(form.email, placeholder='Email') }}

        {{ field(form.password, placeholder='Password') }}

        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
{% endblock %}
